# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Entorno
.env
.env.*
!.env.example
!.env.production.example

# Datos locales
*.sqlite3
pgdata/
redisdata/

# IDE
.vscode/
.idea/
