# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Plataformas generadas (se regeneran con `flutter create .`)
android/
ios/
web/
windows/
linux/
macos/
